<!-- FOOTER -->
<footer class="bg-primary pt-62/5 md:pt-0">
  <div class="max-w-screen-xl mx-auto md:flex md:justify-between md:pt-8">
    <!-- FOOTER LOGO -->
    <picture class="w-332/5 block mx-auto md:w-396/5 md:pl-0 md:ml-94/5 md:mr-0">
      <source media="(min-width: 768px)" srcset="assets/images/three-of-us-logo-new_white.svg">
      <img class="md:w-full md:object-cover md:ml-0 lg:ml-4/5" src="assets/images/three-of-us-logo-footer-m.svg" alt="Logo Three of us" width="185" height="105">
    </picture>

    <!-- FOOTER MENÚ -->
    <ul class="max-w-5xl items-center flex justify-evenly mt-12 pl-0 mb-4 md:pt-2 md:pb-38/5 md:m-0 lg:pb-44/5 2xl:pb-near-44/5 lg:pt-16/5">
      <li class="md:inline-block md:px-6">
        <a class="font-extrabold uppercase text-white text-2xl px-2 md:text-xs md:leading-normal text-white md:px-0 md:hover:underline md:hover:text-black lg:text-lg js-footer-permalink js-footer-home" href="/">
          Home
        </a>
      </li>

      <li class="md:inline-block md:px-6">
        <a class="font-extrabold uppercase text-white text-2xl px-2 md:px-0 md:text-xs md:leading-normal md:hover:underline md:hover:text-black lg:text-lg js-footer-permalink js-footer-membres" href="membres.html">
          Banda
        </a>
      </li>

      <li class="md:inline-block md:px-6">
        <a class="font-extrabold uppercase text-white text-2xl px-2 md:px-0 md:text-xs md:leading-normal md:hover:underline md:hover:text-black lg:text-lg js-footer-permalink js-footer-proposta" href="#">
          La proposta
        </a>
      </li>

      <li class="md:inline-block md:px-6">
        <a class="font-extrabold uppercase text-white text-2xl px-2 md:px-0 md:text-xs md:leading-normal md:hover:underline md:hover:text-black lg:text-lg js-footer-permalink js-footer-contacte" href="#">
          Contacte
        </a>
      </li>
    </ul>

    <!-- SOCIAL MEDIA -->
    <ul class="grid grid-cols-2 w-48 mx-auto mb-0 pt-8 pb-64/5 md:p-0 md:w-32 md:ml-0 md:mr-102/5 lg:gap-16/5 lg:ml-6/5 lg:mr-94/5">
      <li class="px-2 mb-0 md:px-0 md:text-center">
        <a class="text-white md:hover:opacity-70" href="#" target="_blank">
          <i class="text-10xl md:text-6xl lg:text-9xl fa-brands fa-facebook"></i>
        </a>
      </li>

      <li class="px-2 mb-0 md:px-0 md:text-center">
        <a class="text-white md:hover:opacity-70" href="#" target="_blank">
          <i class="text-10xl md:text-6xl lg:text-9xl fa-brands fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- UOC FOOTER -->
  <div class="bg-black">
    <p class="text-base text-center text-white p-10 md:px-8 md:py-8 lg:pt-38/5 lg:pb-8 xl:pt-8 xl:pb-38/5 2xl:pt-8 2xl:pb-42/5">
      <abbr title="Copyright">&copy;</abbr> 2022 Tots els drets reservats. Activitat realitzada per Carles Melgarejo Vila, per a l'assignatura Eines <abbr title="HyperText Markup Language">HTML</abbr> i <abbr title="Cascading Style Sheets">CSS</abbr> II. Aula 1 curs 2022-2023.
    </p>
  </div>
</footer>
