<!-- MEMBER: ALBERT -->
<article class="text-center">
  <picture class="mb-8 block">
    <source media="(min-width: 768px)" srcset="assets/images/albert-446w.jpg?as=webp" type="image/webp">
    <img class="w-full" src="assets/images/albert-945w.jpg?as=webp" type="image/webp" alt="Logo Three of us" width="945" height="798">
  </picture>

  <h2 class="title">Albert Ferrer</h2>

  <h3 class="subtitle">DRUMS & VOCALS</h3>

  <p class="max-w-3xl mx-auto mb-8 px-12 text-xl leading-loose md:text-xl">
    Toca la bateria des de fa més de 30 anys. Ha tocat també el clarinet i ha gravat
    1 Cds amb el grup de rock progressiu Barrock, amb qui té també temes publicats
    a Spotify.
  </p>

  <p class="hidden max-w-3xl mx-auto mb-8 px-12 text-xl leading-loose md:text-xl" id="collapseAlbert">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non neque quis
    nisi pretium mollis quis ut nisl. Proin vitae lorem molestie, rutrum neque nec,
    porta eros. Fusce dignissim eget ligula pharetra placerat. Aliquam erat volutpat.
  </p>

  <!-- BOOTSTRAP BUTTON COMPONENT -->
  <button class="btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseAlbert" type="button" aria-expanded="false" aria-controls="collapseAlbert">
    Més info
  </button>
</article>
