<!-- MEMBER: CARLES -->
<article class="text-center">
  <picture class="mb-8 block">
    <source media="(min-width: 768px)" srcset="assets/images/carles-446w.jpg?as=webp" type="image/webp">
    <img class="w-full" src="assets/images/carles-945w.jpg?as=webp" type="image/webp" alt="Logo Three of us" width="945" height="798">
  </picture>

  <h2 class="title">Carles Melgarejo</h2>

  <h3 class="subtitle">GUITARS & VOCALS</h3>

  <p class="max-w-near-3xl mx-auto mb-8 px-12 text-xl leading-near-relaxed md:text-xl">
    Toca la guitarra i l’harmònica des de fa més de 30 anys. Ha tocat també la mandolina
    i el baix i ha gravat 4 Cds amb grups com Barrock, Tradivàrius i Duran&Cia.
  </p>

  <p class="hidden max-w-near-3xl mx-auto mb-8 px-12 text-xl leading-near-relaxed md:text-xl" id="collapseCarles">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non neque quis
    nisi pretium mollis quis ut nisl. Proin vitae lorem molestie, rutrum neque nec,
    porta eros. Fusce dignissim eget ligula pharetra placerat. Aliquam erat volutpat.
  </p>

  <!-- BOOTSTRAP BUTTON COMPONENT -->
  <button class="btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseCarles" type="button" aria-expanded="false" aria-controls="collapseCarles">
    Més info
  </button>
</article>
